body{
    font-family: Roboto;
}
#main{
    background-color: rgb(1, 1, 23);
    color:#fff
}

h1, h2, h3{
    text-align: center;
    margin-top: 20px;
}

p{
    text-align: justify;
    margin-top: 10px;
}

img{
    width:350px;
    height:200px;
    position: relative;
    left:50px;
}

.icon-row{
    height:50px;
}

i{
    padding-top: 30px;
    padding-left: 30px;
    color:#fff;
    display:block;
    height:50px;
    width:50px;
}

#theme-toggle-light{
    display:none
}

.form{
    position:absolute;
    bottom:50px;
    background-color: rgb(1, 1, 23);
    z-index: 2;
    left:25%;
    width:50%;
    padding:10px;
    border-radius: 15px;
    border:solid 2px rgb(88, 88, 114)
}

input, textarea{
    width:100%;
    border:none;
    outline:none;
    margin-bottom: 10px;
    border-radius: 15px;
    padding:20px;
}

#form{
    display:none
}

#form-close{
    position: absolute;
    top:-10px;
    cursor: pointer;
}

.btn{
    color:#fff;
    background-color: rgb(88, 88, 114);
}